<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">First Name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Joao">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Last Name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Felix">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="joao.felix@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Phone</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="(11)99999-9999">
  </div>
  <button type="submit" class="btn btn-success">Create</button>
  <%= link_to 'Back', friends_path, class:"btn btn-secondary" %>
</form>