<br/>

<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-4">Welcome to the Friends APP</h1>
    <p class="lead">This is an application for you to manage your friends list.</p>
    <%= image_tag "friends-image.png", class: "img-fluid img-thumbnail rounded mx-auto d-block" %>
  </div>
</div>